.container {
    display: flex;
    gap: 1rem; /* расстояние между двумя лейблами */
    align-items: center;
}

.label {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* расстояние между текстом и select */
    color: #eee;
    font-size: 0.9rem;
}

.select {
    padding: 0.3rem 0.6rem;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #1a1a1a;
    color: #eee;
}


.container {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 0.25rem 0.5rem;
    border-radius: 6px;
    background: linear-gradient(145deg, #3b3b3b, #222);
    box-shadow: 2px 2px 4px #111, -2px -2px 4px #444;
    color: #fff;
    cursor: pointer;
    user-select: none;
    max-width: fit-content;
    max-height: 1rem;
    min-width: 245px!important;
}

.select {
    color: inherit;
    outline: none;
    cursor: pointer;
    margin:  0 0 0 8px;

}